discord.py
apnggif
requests
youtube-dl @ git+https://github.com/ytdl-org/youtube-dl.git
PyNaCl
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
validators
gspread
gspread-formatting
discord.py-pagination
discord-py-interactions
discord-ext-menus
discord-pretty-help
python-dateutil
pytesseract (for ocr)
tesseract
tesseract-ocr
numpy
opencv-python